body {
    font-family: Vazirmatn,roboto;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/fonts/Vazirmatn-Regular.eot');
    src: url('/fonts/Vazirmatn-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazirmatn-Regular.woff2') format('woff2'),
         url('/fonts/Vazirmatn-Regular.woff') format('woff'),
         url('/fonts/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazirmatn;
    src: url('/fonts/Vazirmatn-Bold.eot');
    src: url('/fonts/Vazirmatn-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazirmatn-Bold.woff2') format('woff2'),
         url('/fonts/Vazirmatn-Bold.woff') format('woff'),
         url('/fonts/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazirmatn;
    src: url('/fonts/Vazirmatn-Black.eot');
    src: url('/fonts/Vazirmatn-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazirmatn-Black.woff2') format('woff2'),
         url('/fonts/Vazirmatn-Black.woff') format('woff'),
         url('/fonts/Vazirmatn-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazirmatn;
    src: url('/fonts/Vazirmatn-Medium.eot');
    src: url('/fonts/Vazirmatn-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazirmatn-Medium.woff2') format('woff2'),
         url('/fonts/Vazirmatn-Medium.woff') format('woff'),
         url('/fonts/Vazirmatn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazirmatn;
    src: url('/fonts/Vazirmatn-Light.eot');
    src: url('/fonts/Vazirmatn-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazirmatn-Light.woff2') format('woff2'),
         url('/fonts/Vazirmatn-Light.woff') format('woff'),
         url('/fonts/Vazirmatn-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazirmatn;
    src: url('/fonts/Vazirmatn-Thin.eot');
    src: url('/fonts/Vazirmatn-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazirmatn-Thin.woff2') format('woff2'),
         url('/fonts/Vazirmatn-Thin.woff') format('woff'),
         url('/fonts/Vazirmatn-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}